.header{
    margin: 2vmin;
}

.bgcolor {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }
 
